<main class="groups-list">
  @if (groups().length === 0) {
    <p class="no-groups">Brak grup dla tego kursu.</p>
  }

  @for (group of groups(); track group.id) {
    @if (getGroupClassDate(group.id); as classDate) {
      @if (groupAttendanceEnabled()[group.id]) {
        <a [routerLink]="['/attendance', classDate.id]"
           class="group-item"
           [class.highlighted]="isGroupActive(group)">

          <div class="group-details">
            <h2 class="group-name">{{ group.name }}</h2>
          </div>
          <div class="group-time">
            <span>Termin: {{ classDate.startTime | date:'yyyy-MM-dd HH:mm' }} - {{ classDate.endTime | date:'HH:mm' }}</span>
            <p class="text-sm text-gray-400">{{ classDate.description }}</p>
          </div>
        </a>
      } @else {
        <div class="group-item opacity-70 cursor-not-allowed">
          <div class="group-details">
            <h2 class="group-name">{{ group.name }}</h2>
          </div>
          <div class="group-time">
            <span>Termin: {{ classDate.startTime | date:'yyyy-MM-dd HH:mm' }} - {{ classDate.endTime | date:'HH:mm' }}</span>
            <p class="text-sm text-gray-400">{{ classDate.description }}</p>
            <p class="text-xs text-gray-500 mt-1">Przejście dostępne tylko dla bieżących zajęć</p>
          </div>
        </div>
      }
    } @else {
      <div class="group-item opacity-70">
        <div class="group-details">
          <h2 class="group-name">{{ group.name }}</h2>
        </div>
        <div class="group-time">
          <span class="text-gray-500">Brak przyszłych zajęć</span>
        </div>
      </div>
    }
  }
</main>
