:host {
  display: block;
}

.group-panel-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.group-panel-container > app-group-list {
  flex: 1 1 auto; /* lista zajmuje resztę wysokości */
  overflow: auto;
}

.btn-label {
  text-transform: lowercase;
}
